CREATE PROCEDURE [dbo].[MT_VehicleInspectionAdd_Create](
	@InspectionID int = null,
	@VehicleID int,
    @OlejSilnikowyInspekcja bit = null,
	@OlejSilnikowyWymianaTak bit = null,
	@OlejSilnikowyWymianaNie bit = null,
	@FiltrOlejuInspekcja bit = null,
	@FiltrOlejuWymianaTak bit = null,
	@FiltrOlejuWymianaNie bit = null,
	@FiltrPowietrzaInspekcja bit = null,
	@FiltrPowietrzaWymianaTak bit = null,
	@FiltrPowietrzaWymianaNie bit = null,
	@FiltrPaliwaInspekcja bit = null,
	@FiltrPaliwaWymianaTak bit = null,
	@FiltrPaliwaWymianaNie bit = null,
	@KlockiSzczekiHamulcowePrzodInspekcja bit = null,
	@KlockiSzczekiHamulcowePrzodWymianaTak bit = null,
	@KlockiSzczekiHamulcowePrzodWymianaNie bit = null,
	@KlockiSzczekiHamulcoweTylInspekcja bit = null,
	@KlockiSzczekiHamulcoweTylWymianaTak bit = null,
	@KlockiSzczekiHamulcoweTyl2WymianaNie bit = null,
	@PlynHamulcowyInspekcja bit = null,
	@PlynHamulcowyWymianaTak bit = null,
	@PlynHamulcowyWymianaNie bit = null,
	@SwieceZaplonoweInspekcja bit = null,
	@SwieceZaplonoweWymianaTak bit = null,
	@SwieceZaplonowe2WymianaNie bit = null,
	@FajkiZaplonoweInspekcja bit = null,
	@FajkiZaplonoweWymianaTak bit = null,
	@FajkiZaplonoweWymianaNie bit = null,
	@PrzewodyWysNapieciaInspekcja bit = null,
	@PrzewodyWysNapieciaWymianaTak bit = null,
	@PrzewodyWysNapieciaWymianaNie bit = null,
	@PlynChlodzacyInspekcja bit = null,
	@PlynChlodzacyWymianaTak bit = null,
	@PlynChlodzacyWymianaNie bit = null,
	@OlejWprzednimZawieszeniuInspekcja bit = null,
	@OlejWprzednimZawieszeniuWymianaTak bit = null,
	@OlejWprzednimZawieszeniuWymianaNie bit = null,
	@UszczelniaczePrzedniegoZawieszeniaInspekcja bit = null,
	@UszczelniaczePrzedniegoZawieszeniaWymianaTak bit = null,
	@UszczelniaczePrzedniegoZawieszeniaWymianaNie bit = null,
	@ZestawNapedowyInspekcja bit = null,
	@ZestawNapedowyWymianaTak bit = null,
	@ZestawNapedowyWymianaNie bit = null,
	@ZaworyInspekcja bit = null,
	@ZaworyWymianaTak bit = null,
	@ZaworyWymianaNie bit = null,
	@LancuchNapinaczRozrzaduInspekcja bit = null,
	@LancuchNapinaczRozrzaduWymianaTak bit = null,
	@LancuchNapinaczRozrzaduWymianaNie bit = null,
	@LinkaGazuInspekcja bit = null,
	@LinkaGazuWymianaTak bit = null,
	@LinkaGazuWymianaNie bit = null,
	@LinkaSpedzeglaInspekcja bit = null,
	@LinkaSpedzeglaWymianaTak bit = null,
	@LinkaSpedzeglaWymianaNie bit = null,
	@LinkaHamulcaPrzodInspekcja bit = null,
	@LinkaHamulcaPrzodWymianaTak bit = null,
	@LinkaHamulcaPrzodWymianaNie bit = null,
	@LinkaHamulcaTylInspekcja bit = null,
	@LinkaHamulcaTylWymianaTak bit = null,
	@LinkaHamulcaTylWymianaNie bit = null,
	@LinkaObrotomierzaInspekcja bit = null,
	@LinkaObrotomierzaWymianaTak bit = null,
	@LinkaObrotomierzaWymianaNie bit = null,
	@LinkaPredkosciomierzaInspekcja bit = null,
	@LinkaPredkosciomierzaWymianaTak bit = null,
	@LinkaPredkosciomierzaWymianaNie bit = null,
	@SynchronizacjaInspekcja bit = null,
	@SynchronizacjaWymianaTak bit = null,
	@SynchronizacjaWymianaNie bit = null,
	@PrzepustnicaInspekcja bit = null,
	@PrzepustnicaWymianaTak bit = null,
	@PrzepustnicaWymianaNie bit = null,
	@Uwagi nvarchar(max) = null,
    @CREDATE datetime = null,
    @CREUSER nvarchar(50) = null
)

AS
IF NOT EXISTS (SELECT * FROM MT_VehicleInspection WHERE InspectionID = @InspectionID AND VehicleID = @VehicleID)
BEGIN
	INSERT INTO MT_VehicleInspection(VehicleID, OlejSilnikowyInspekcja, OlejSilnikowyWymianaTak, OlejSilnikowyWymianaNie, FiltrOlejuInspekcja, FiltrOlejuWymianaTak, FiltrOlejuWymianaNie, FiltrPowietrzaInspekcja, FiltrPowietrzaWymianaTak, FiltrPowietrzaWymianaNie, FiltrPaliwaInspekcja, FiltrPaliwaWymianaTak, FiltrPaliwaWymianaNie, KlockiSzczekiHamulcowePrzodInspekcja, KlockiSzczekiHamulcowePrzodWymianaTak, KlockiSzczekiHamulcowePrzodWymianaNie, KlockiSzczekiHamulcoweTylInspekcja , KlockiSzczekiHamulcoweTylWymianaTak, KlockiSzczekiHamulcoweTyl2WymianaNie, PlynHamulcowyInspekcja, PlynHamulcowyWymianaTak, PlynHamulcowyWymianaNie, SwieceZaplonoweInspekcja, SwieceZaplonoweWymianaTak , SwieceZaplonowe2WymianaNie, FajkiZaplonoweInspekcja, FajkiZaplonoweWymianaTak, FajkiZaplonoweWymianaNie, PrzewodyWysNapieciaInspekcja, PrzewodyWysNapieciaWymianaTak, PrzewodyWysNapieciaWymianaNie, PlynChlodzacyInspekcja, PlynChlodzacyWymianaTak, PlynChlodzacyWymianaNie, OlejWprzednimZawieszeniuInspekcja, OlejWprzednimZawieszeniuWymianaTak, OlejWprzednimZawieszeniuWymianaNie, UszczelniaczePrzedniegoZawieszeniaInspekcja, UszczelniaczePrzedniegoZawieszeniaWymianaTak, UszczelniaczePrzedniegoZawieszeniaWymianaNie , ZestawNapedowyInspekcja, ZestawNapedowyWymianaTak, ZestawNapedowyWymianaNie, ZaworyInspekcja, ZaworyWymianaTak, ZaworyWymianaNie, LancuchNapinaczRozrzaduInspekcja, LancuchNapinaczRozrzaduWymianaTak, LancuchNapinaczRozrzaduWymianaNie, LinkaGazuInspekcja, LinkaGazuWymianaTak, LinkaGazuWymianaNie, LinkaSpedzeglaInspekcja, LinkaSpedzeglaWymianaTak, LinkaSpedzeglaWymianaNie, LinkaHamulcaPrzodInspekcja, LinkaHamulcaPrzodWymianaTak, LinkaHamulcaPrzodWymianaNie, LinkaHamulcaTylInspekcja, LinkaHamulcaTylWymianaTak, LinkaHamulcaTylWymianaNie, LinkaObrotomierzaInspekcja, LinkaObrotomierzaWymianaTak, LinkaObrotomierzaWymianaNie, LinkaPredkosciomierzaInspekcja, LinkaPredkosciomierzaWymianaTak, LinkaPredkosciomierzaWymianaNie, SynchronizacjaInspekcja, SynchronizacjaWymianaTak, SynchronizacjaWymianaNie, PrzepustnicaInspekcja,  PrzepustnicaWymianaTak, PrzepustnicaWymianaNie, Uwagi, CREDATE, CREUSER)
    VALUES (@VehicleID, @OlejSilnikowyInspekcja, @OlejSilnikowyWymianaTak, @OlejSilnikowyWymianaNie, @FiltrOlejuInspekcja, @FiltrOlejuWymianaTak, @FiltrOlejuWymianaNie, @FiltrPowietrzaInspekcja, @FiltrPowietrzaWymianaTak, @FiltrPowietrzaWymianaNie, @FiltrPaliwaInspekcja, @FiltrPaliwaWymianaTak, @FiltrPaliwaWymianaNie, @KlockiSzczekiHamulcowePrzodInspekcja, @KlockiSzczekiHamulcowePrzodWymianaTak, @KlockiSzczekiHamulcowePrzodWymianaNie, @KlockiSzczekiHamulcoweTylInspekcja , @KlockiSzczekiHamulcoweTylWymianaTak, @KlockiSzczekiHamulcoweTyl2WymianaNie, @PlynHamulcowyInspekcja, @PlynHamulcowyWymianaTak, @PlynHamulcowyWymianaNie, @SwieceZaplonoweInspekcja, @SwieceZaplonoweWymianaTak , @SwieceZaplonowe2WymianaNie, @FajkiZaplonoweInspekcja, @FajkiZaplonoweWymianaTak, @FajkiZaplonoweWymianaNie, @PrzewodyWysNapieciaInspekcja, @PrzewodyWysNapieciaWymianaTak, @PrzewodyWysNapieciaWymianaNie, @PlynChlodzacyInspekcja, @PlynChlodzacyWymianaTak, @PlynChlodzacyWymianaNie, @OlejWprzednimZawieszeniuInspekcja, @OlejWprzednimZawieszeniuWymianaTak, @OlejWprzednimZawieszeniuWymianaNie, @UszczelniaczePrzedniegoZawieszeniaInspekcja, @UszczelniaczePrzedniegoZawieszeniaWymianaTak, @UszczelniaczePrzedniegoZawieszeniaWymianaNie , @ZestawNapedowyInspekcja, @ZestawNapedowyWymianaTak, @ZestawNapedowyWymianaNie, @ZaworyInspekcja, @ZaworyWymianaTak, @ZaworyWymianaNie, @LancuchNapinaczRozrzaduInspekcja, @LancuchNapinaczRozrzaduWymianaTak, @LancuchNapinaczRozrzaduWymianaNie, @LinkaGazuInspekcja, @LinkaGazuWymianaTak, @LinkaGazuWymianaNie, @LinkaSpedzeglaInspekcja, @LinkaSpedzeglaWymianaTak, @LinkaSpedzeglaWymianaNie, @LinkaHamulcaPrzodInspekcja, @LinkaHamulcaPrzodWymianaTak, @LinkaHamulcaPrzodWymianaNie, @LinkaHamulcaTylInspekcja, @LinkaHamulcaTylWymianaTak, @LinkaHamulcaTylWymianaNie, @LinkaObrotomierzaInspekcja, @LinkaObrotomierzaWymianaTak, @LinkaObrotomierzaWymianaNie, @LinkaPredkosciomierzaInspekcja, @LinkaPredkosciomierzaWymianaTak, @LinkaPredkosciomierzaWymianaNie, @SynchronizacjaInspekcja, @SynchronizacjaWymianaTak, @SynchronizacjaWymianaNie, @PrzepustnicaInspekcja, @PrzepustnicaWymianaTak, @PrzepustnicaWymianaNie, @Uwagi, @CREDATE, @CREUSER)
END
ELSE
BEGIN
    UPDATE 
		MT_VehicleInspection SET
			OlejSilnikowyInspekcja = @OlejSilnikowyInspekcja, 
			OlejSilnikowyWymianaTak = @OlejSilnikowyWymianaTak, 
			OlejSilnikowyWymianaNie = @OlejSilnikowyWymianaNie , 
			FiltrOlejuInspekcja = @FiltrOlejuInspekcja, 
			FiltrOlejuWymianaTak = @FiltrOlejuWymianaTak, 
			FiltrOlejuWymianaNie = @FiltrOlejuWymianaNie, 
			FiltrPowietrzaInspekcja = @FiltrPowietrzaInspekcja, 
			FiltrPowietrzaWymianaTak = @FiltrPowietrzaWymianaTak, 
			FiltrPowietrzaWymianaNie = @FiltrPowietrzaWymianaNie, 
			FiltrPaliwaInspekcja = @FiltrPaliwaInspekcja, 
			FiltrPaliwaWymianaTak = @FiltrPaliwaWymianaTak, 
			FiltrPaliwaWymianaNie = @FiltrPaliwaWymianaNie, 
			KlockiSzczekiHamulcowePrzodInspekcja = @KlockiSzczekiHamulcowePrzodInspekcja, 
			KlockiSzczekiHamulcowePrzodWymianaTak = @KlockiSzczekiHamulcowePrzodWymianaTak, 
			KlockiSzczekiHamulcowePrzodWymianaNie = @KlockiSzczekiHamulcowePrzodWymianaNie, 
			KlockiSzczekiHamulcoweTylInspekcja = @KlockiSzczekiHamulcoweTylInspekcja, 
			KlockiSzczekiHamulcoweTylWymianaTak = @KlockiSzczekiHamulcoweTylWymianaTak, 
			KlockiSzczekiHamulcoweTyl2WymianaNie = @KlockiSzczekiHamulcoweTyl2WymianaNie, 
			PlynHamulcowyInspekcja = @PlynHamulcowyInspekcja, 
			PlynHamulcowyWymianaTak = @PlynHamulcowyWymianaTak, 
			PlynHamulcowyWymianaNie = @PlynHamulcowyWymianaNie, 
			SwieceZaplonoweInspekcja = @SwieceZaplonoweInspekcja, 
			SwieceZaplonoweWymianaTak = @SwieceZaplonoweWymianaTak, 
			SwieceZaplonowe2WymianaNie = @SwieceZaplonowe2WymianaNie, 
			FajkiZaplonoweInspekcja = @FajkiZaplonoweInspekcja, 
			FajkiZaplonoweWymianaTak = @FajkiZaplonoweWymianaTak, 
			FajkiZaplonoweWymianaNie = @FajkiZaplonoweWymianaNie, 
			PrzewodyWysNapieciaInspekcja = @PrzewodyWysNapieciaInspekcja, 
			PrzewodyWysNapieciaWymianaTak = @PrzewodyWysNapieciaWymianaTak, 
			PrzewodyWysNapieciaWymianaNie = @PrzewodyWysNapieciaWymianaNie, 
			PlynChlodzacyInspekcja = @PlynChlodzacyInspekcja, 
			PlynChlodzacyWymianaTak = @PlynChlodzacyWymianaTak, 
			PlynChlodzacyWymianaNie = @PlynChlodzacyWymianaNie, 
			OlejWprzednimZawieszeniuInspekcja = @OlejWprzednimZawieszeniuInspekcja, 
			OlejWprzednimZawieszeniuWymianaTak = @OlejWprzednimZawieszeniuWymianaTak,
			OlejWprzednimZawieszeniuWymianaNie = @OlejWprzednimZawieszeniuWymianaNie, 
			UszczelniaczePrzedniegoZawieszeniaInspekcja = @UszczelniaczePrzedniegoZawieszeniaInspekcja, 
			UszczelniaczePrzedniegoZawieszeniaWymianaTak = @UszczelniaczePrzedniegoZawieszeniaWymianaTak, 
			UszczelniaczePrzedniegoZawieszeniaWymianaNie = @UszczelniaczePrzedniegoZawieszeniaWymianaNie, 
			ZestawNapedowyInspekcja = @ZestawNapedowyInspekcja, 
			ZestawNapedowyWymianaTak = @ZestawNapedowyWymianaTak, 
			ZestawNapedowyWymianaNie = @ZestawNapedowyWymianaNie, 
			ZaworyInspekcja = @ZaworyInspekcja, 
			ZaworyWymianaTak = @ZaworyWymianaTak, 
			ZaworyWymianaNie = @ZaworyWymianaNie, 
			LancuchNapinaczRozrzaduInspekcja = @LancuchNapinaczRozrzaduInspekcja, 
			LancuchNapinaczRozrzaduWymianaTak = @LancuchNapinaczRozrzaduWymianaTak, 
			LancuchNapinaczRozrzaduWymianaNie = @LancuchNapinaczRozrzaduWymianaNie, 
			LinkaGazuInspekcja = @LinkaGazuInspekcja, 
			LinkaGazuWymianaTak = @LinkaGazuWymianaTak, 
			LinkaGazuWymianaNie = @LinkaGazuWymianaNie, 
			LinkaSpedzeglaInspekcja = @LinkaSpedzeglaInspekcja, 
			LinkaSpedzeglaWymianaTak = @LinkaSpedzeglaWymianaTak, 
			LinkaSpedzeglaWymianaNie = @LinkaSpedzeglaWymianaNie, 
			LinkaHamulcaPrzodInspekcja = @LinkaHamulcaPrzodInspekcja, 
			LinkaHamulcaPrzodWymianaTak = @LinkaHamulcaPrzodWymianaTak, 
			LinkaHamulcaPrzodWymianaNie = @LinkaHamulcaPrzodWymianaNie, 
			LinkaHamulcaTylInspekcja = @LinkaHamulcaTylInspekcja, 
			LinkaHamulcaTylWymianaTak = @LinkaHamulcaTylWymianaTak, 
			LinkaHamulcaTylWymianaNie = @LinkaHamulcaTylWymianaNie, 
			LinkaObrotomierzaInspekcja = @LinkaObrotomierzaInspekcja, 
			LinkaObrotomierzaWymianaTak = @LinkaObrotomierzaWymianaTak, 
			LinkaObrotomierzaWymianaNie = @LinkaObrotomierzaWymianaNie, 
			LinkaPredkosciomierzaInspekcja = @LinkaPredkosciomierzaInspekcja, 
			LinkaPredkosciomierzaWymianaTak = @LinkaPredkosciomierzaWymianaTak, 
			LinkaPredkosciomierzaWymianaNie = @LinkaPredkosciomierzaWymianaNie, 
			SynchronizacjaInspekcja = @SynchronizacjaInspekcja, 
			SynchronizacjaWymianaTak = @SynchronizacjaWymianaTak, 
			SynchronizacjaWymianaNie = @SynchronizacjaWymianaNie, 
			PrzepustnicaInspekcja = @PrzepustnicaInspekcja,  
			PrzepustnicaWymianaTak = @PrzepustnicaWymianaTak, 
			PrzepustnicaWymianaNie = @PrzepustnicaWymianaNie, 
			Uwagi = @Uwagi,
			CREDATE = @CREDATE, 
			CREUSER = @CREUSER
	WHERE InspectionID = @InspectionID  AND VehicleID = @VehicleID
END