CREATE PROCEDURE [dbo].[MT_VehicleInspection_GetByVehicleID]
	@VehicleID int
AS

    SELECT	[InspectionID]
      ,[VehicleID]
      ,[OlejSilnikowyInspekcja]
      ,[OlejSilnikowyWymianaTak]
      ,[OlejSilnikowyWymianaNie]
      ,[FiltrOlejuInspekcja]
      ,[FiltrOlejuWymianaTak]
      ,[FiltrOlejuWymianaNie]
      ,[FiltrPowietrzaInspekcja]
      ,[FiltrPowietrzaWymianaTak]
      ,[FiltrPowietrzaWymianaNie]
      ,[FiltrPaliwaInspekcja]
      ,[FiltrPaliwaWymianaTak]
      ,[FiltrPaliwaWymianaNie]
      ,[KlockiSzczekiHamulcowePrzodInspekcja]
      ,[KlockiSzczekiHamulcowePrzodWymianaTak]
      ,[KlockiSzczekiHamulcowePrzodWymianaNie]
      ,[KlockiSzczekiHamulcoweTylInspekcja]
      ,[KlockiSzczekiHamulcoweTylWymianaTak]
      ,[KlockiSzczekiHamulcoweTyl2WymianaNie]
      ,[PlynHamulcowyInspekcja]
      ,[PlynHamulcowyWymianaTak]
      ,[PlynHamulcowyWymianaNie]
      ,[SwieceZaplonoweInspekcja]
      ,[SwieceZaplonoweWymianaTak]
      ,[SwieceZaplonowe2WymianaNie]
      ,[FajkiZaplonoweInspekcja]
      ,[FajkiZaplonoweWymianaTak]
      ,[FajkiZaplonoweWymianaNie]
      ,[PrzewodyWysNapieciaInspekcja]
      ,[PrzewodyWysNapieciaWymianaTak]
      ,[PrzewodyWysNapieciaWymianaNie]
      ,[PlynChlodzacyInspekcja]
      ,[PlynChlodzacyWymianaTak]
      ,[PlynChlodzacyWymianaNie]
      ,[OlejWprzednimZawieszeniuInspekcja]
      ,[OlejWprzednimZawieszeniuWymianaTak]
      ,[OlejWprzednimZawieszeniuWymianaNie]
      ,[UszczelniaczePrzedniegoZawieszeniaInspekcja]
      ,[UszczelniaczePrzedniegoZawieszeniaWymianaTak]
      ,[UszczelniaczePrzedniegoZawieszeniaWymianaNie]
      ,[ZestawNapedowyInspekcja]
      ,[ZestawNapedowyWymianaTak]
      ,[ZestawNapedowyWymianaNie]
      ,[ZaworyInspekcja]
      ,[ZaworyWymianaTak]
      ,[ZaworyWymianaNie]
      ,[LancuchNapinaczRozrzaduInspekcja]
      ,[LancuchNapinaczRozrzaduWymianaTak]
      ,[LancuchNapinaczRozrzaduWymianaNie]
      ,[LinkaGazuInspekcja]
      ,[LinkaGazuWymianaTak]
      ,[LinkaGazuWymianaNie]
      ,[LinkaSpedzeglaInspekcja]
      ,[LinkaSpedzeglaWymianaTak]
      ,[LinkaSpedzeglaWymianaNie]
      ,[LinkaHamulcaPrzodInspekcja]
      ,[LinkaHamulcaPrzodWymianaTak]
      ,[LinkaHamulcaPrzodWymianaNie]
      ,[LinkaHamulcaTylInspekcja]
      ,[LinkaHamulcaTylWymianaTak]
      ,[LinkaHamulcaTylWymianaNie]
      ,[LinkaObrotomierzaInspekcja]
      ,[LinkaObrotomierzaWymianaTak]
      ,[LinkaObrotomierzaWymianaNie]
      ,[LinkaPredkosciomierzaInspekcja]
      ,[LinkaPredkosciomierzaWymianaTak]
      ,[LinkaPredkosciomierzaWymianaNie]
      ,[SynchronizacjaInspekcja]
      ,[SynchronizacjaWymianaTak]
      ,[SynchronizacjaWymianaNie]
      ,[PrzepustnicaInspekcja]
      ,[PrzepustnicaWymianaTak]
      ,[PrzepustnicaWymianaNie]
      ,[Uwagi]
      ,[CREDATE]
      ,[CREUSER]
      ,[UPDDATE]
      ,[UPDUSER]
    FROM MT_VehicleInspection with(nolock)
	WHERE VehicleID = @VehicleID
	ORDER BY InspectionID desc
