CREATE PROCEDURE [dbo].[MT_Vehicle_GetByID]
	@VehicleID int
AS

    SELECT	[VehicleID]
      ,[Marka]
      ,[Model]
      ,[PojemnoscSilnika]
      ,[VIN]
      ,[RokProdukcji]
      ,[DataPierwszejRejestracjiWkraju]
      ,[NumerRejestracyjny]
      ,[OlejSilnikowy]
      ,[OlejWprzednimWidelcu]
      ,[OlejPrzekladniowy]
      ,[PlynHamulocwy]
      ,[PlynChlodzacy]
      ,[SwieceZaplonowe]
      ,[Akumulator]
      ,[PlynyEksploatacyjneInne]
      ,[PasekNapedowy]
      ,[UkladNapedowyInne]
      ,[KlientImieNazwisko]
      ,[KlientNazwaFirmy]
      ,[KlientTelefon]
      ,[KlientMiejscowosc]
      ,[KlientUlica]
      ,[KlientKodPocztowy]
      ,[CREDATE]
      ,[CREUSER]
      ,[UPDDATE]
      ,[UPDUSER]
    FROM MT_Vehicle with(nolock)
	WHERE VehicleID = @VehicleID
	ORDER BY VehicleID desc
